<form [formGroup]="editForm" (ngSubmit)="handleEditFormSubmit()">
    <div class="mb-3">
      <label for="number">{{'Number' | translate}}</label>
      <input type="text" formControlName="number" class="form-control" id="number" aria-describedby="emailHelp" placeholder="{{'Enter new number' | translate}}">
      @if(editForm.get("number")?.errors?.["required"]){
        <span class="text-danger">{{'Number is required' | translate}}</span>
      }
    </div>
    
    <div class="mb-3">
      <label for="capacity">{{'Capacity' | translate}}</label>
      <input type="text" formControlName="capacity" class="form-control" id="capacity" placeholder="{{'Enter new capacity' | translate}}">
      @if(editForm.get("capacity")?.errors?.["required"]){
        <span class="text-danger">{{'Capacity is required' | translate}}</span>
      }
    </div>

    <div class="mb-3">
        <label for="nurseryId">{{'Nursery' | translate}}</label>
        <select formControlName="nurseryId" class="form-control" id="nurseryId">
          @for (nursery of nurseries ; track nursery.id) {
           <option [ngValue]="nursery.id">{{nursery.name}}</option>
            }
         </select>
        @if(editForm.get("nurseryId")?.errors?.["required"]){
          <span class="text-danger">{{'Nursery is required' | translate}}</span>
        }
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">{{'Save changes' | translate}}</button>
  </form>
