<form [formGroup]="addForm" (ngSubmit)="handleAddFormSubmit()" enctype="multipart/form-data">

  <!-- <div class="mb-3">
    <label for="name">Sapling Name</label>
    <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter sapling name">
    @if(addForm.get("name")?.errors?.["required"]){
      <span class="text-danger"> sapling name is required</span>
    }
  </div> -->
  
  @if(nurseryId){
    <div class="mb-3">
      <input hidden [value]="nurseryId" type="date" formControlName="nurseryId" class="form-control" id="nurseryId" placeholder="{{'Enter birth date' | translate}}">
    </div>
  }
  @else {
    <div class="mb-3">
      <label for="nurseryId">{{'Nursery' | translate}}</label>
      <select formControlName="nurseryId" class="form-control" id="nurseryId">
       @for (item of nurseries  ; track item.id) {
        <option [ngValue]="item.id">{{item.name}}</option>
         }
      </select>
      @if(addForm.get("saplingsCategoryId")?.errors?.["required"]){
        <span class="text-danger">{{'Saplings category is required' | translate}}</span>
      }
    </div>
  }


    <div class="mb-3">
      <label for="birthDate">{{'Birth Date' | translate}}</label>
      <input type="date" formControlName="birthDate" class="form-control" id="birthDate" placeholder="{{'Enter birth date' | translate}}">
      @if(addForm.get("birthDate")?.errors?.["required"]){
        <span class="text-danger">{{"Birth date is required" | translate}}</span>
      }
    </div>
  
    <div class="mb-3">
      <label for="sellDate">{{'Sell Date' | translate}}</label>
      <input type="date" formControlName="sellDate" class="form-control" id="sellDate" placeholder="{{'Enter sell date' | translate}}">
      
      @if(addForm.get("sellDate")?.errors?.["required"]){
        <span class="text-danger">{{'Sell date is required' | translate}}</span>
      }

    </div>
  
    <div class="mb-3">
      <label for="buyPrice">{{'Buy Price' | translate}}</label>
      <input type="number" formControlName="buyPrice" class="form-control" id="buyPrice" placeholder="{{'Enter buy price' | translate}}">
      @if(addForm.get("buyPrice")?.errors?.["required"]){
        <span class="text-danger">{{'Buy price is required' | translate}}</span>
      }
      @if(addForm.get("buyPrice")?.errors?.["minlength"]){
        <span class="text-danger">{{'Buy price must be greater than or equal to 0' | translate}}</span>
      }

    </div>
  
    <div class="mb-3">
      <label for="sellPrice">{{'Sell Price' | translate}}</label>
      <input type="number" formControlName="sellPrice" class="form-control" id="sellPrice" placeholder="{{'Enter sell price' | translate}}">
      @if(addForm.get("sellPrice")?.errors?.["required"]){
        <span class="text-danger">{{'Sell price is required' | translate}}</span>
      }
      @if(addForm.get("sellPrice")?.errors?.["minlength"]){
        <span class="text-danger">{{'Sell price must be greater than or equal to 0' | translate}}</span>
      }
    </div>
  
    <div class="mb-3">
      <label for="amount">{{'Amount' | translate}}</label>
      <input type="number" formControlName="amount" class="form-control" id="amount" placeholder="{{'Enter amount' | translate}}">
      @if(addForm.get("amount")?.errors?.["required"]){
        <span class="text-danger">{{'Amount is required' | translate}}</span>
      }
      @if(addForm.get("amount")?.errors?.["minlength"]){
        <span class="text-danger">{{'Amount must be greater than or equal to 1' | translate}}</span>
      }
    </div>
  
    <div class="mb-3">
      <label for="isImported">{{'Is Imported' | translate}}</label>
      <select formControlName="isImported" class="form-control" id="isImported">
        <option [ngValue]="true">{{'Yes' | translate}}</option>
        <option [ngValue]="false">{{'No' | translate}}</option>
      </select>
      @if(addForm.get("isImported")?.errors?.["required"]){
        <span class="text-danger">{{'This field is required' | translate}}</span>
      }
    </div>

    <div class="mb-3">
      <label for="saplingsCategoryId">{{'Saplings Category' | translate}}</label>
      <select formControlName="saplingsCategoryId" class="form-control" id="saplingsCategoryId">
       @for (item of saplingCategories  ; track item.id) {
        <option [ngValue]="item.id">{{item.name}}</option>
         }
      </select>
      @if(addForm.get("saplingsCategoryId")?.errors?.["required"]){
        <span class="text-danger">{{'Saplings category is required' | translate}}</span>
      }
    </div>

    <div class="mb-3">
      <label for="saplingImage">{{'Sapling Image' | translate}}</label>
      <input type="file" class="form-control" formControlName="saplingImage" id="saplingImage" (change)="onFileChange($event)">
      @if(addForm.get("saplingImage")?.errors?.["required"]){
        <span class="text-danger"> {{ imageError }} </span>
      }
    </div>
    

    <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">{{'Add' | translate}}</button>
  </form>
  