<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="d-flex" role="search" (ngSubmit)="searchSaplingsCategory($event)">
          <input 
            class="form-control me-2 glow-input" 
            type="search" 
            placeholder="{{'Search' | translate}}" 
            aria-label="Search" 
            [(ngModel)]="searchWord"
            name="searchWord">
          <button class="btn btn-outline-success" type="submit">{{'Search' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
  <table class="table table-striped m-lg-1">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{'Name' | translate}}</th>
          <th scope="col">{{'Sapling Type' | translate}}</th>
          <!-- <th scope="col">{{'Saplings' | translate}}</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let saplingCategory of saplingsCategorys; let i = index">
              @if(saplingCategory.isActive){
                  <th scope="row">{{ i + 1 }}</th>
              <td>{{ saplingCategory.name }}</td>
               <td>{{ getTypeName(saplingCategory.saplingTypeId) }}</td>
              <td class="align-content-around">
                  <button type="button" class="btn btn-primary me-3" (click)="openModalUpdate(templateUpdate)">{{'Edit' | translate}}</button>
                  <button type="button" class="btn btn-danger" (click)="openModalDelete(templateDelete)">{{'Delete' | translate}}</button>
   
                  <ng-template #templateUpdate>
                  <div class="modal-header">
                      <h4 class="modal-title pull-left">{{'Edit Info saplingCategory' | translate}}</h4>
                      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRefUpdate?.hide()">
                      <span aria-hidden="true" class="visually-hidden">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <app-edit-saplingcategory [oldSaplingsCategory]="saplingCategory" (closeModal)="closeModalUpdate()"></app-edit-saplingcategory>
                  </div>
                  </ng-template>
  
                  <ng-template #templateDelete>
                  <div class="modal-body text-center">
                      <p>{{'Are you sure you want to delete the saplingCategory' | translate}} <b>{{ saplingCategory.name }}</b>?</p>
                      <button type="button" class="btn btn-success me-2" (click)="confirm(saplingCategory.id)">{{'Yes' | translate}}</button>
                      <button type="button" class="btn btn-danger" (click)="decline()">{{'No' | translate}}</button>
                  </div>
                  </ng-template>
              </td> 
              }
          </tr>
      </tbody>
  </table>
